.helpButton {
    padding: .3rem 2rem;
    background: #fff;
    border: 2px solid #B4B4B5;
    border-radius: 3rem;
    width: 297px;
    height: 40px;
}

.artistGallery {
    background: #fed12f !important;
}

.artistReviewsText,
.artistGalleryText {
    color: #523105;
    font-weight: bold !important;
}