.projectDes-sec {
    /* width: 1920px;
  height: 850px; */
    padding: 7rem 0  0;
    z-index: -2;
}
.artistProfileSteps .headings {
    font-size: 45px;
}
@media only screen and (max-width: 1919px) and (min-width: 1080px) {
    .aboutMe p {
        font-size: 20px !important;
    }
    .confirmDetails-Sec .artist-img {
        width: 20% !important;
    }
    .project-date {
        font-size: 30px !important;
    }
    .Calendar__monthYearContainer button {
        font-size: 35px !important;
    }
    .artistGallery,
    .artistReviews {
        height: 40px !important;
    }
    .helpButton {
        width: 110px !important;
        height: auto;
    }
    .artistProfileSteps .headings {
        font-size: 30px !important;
    }
}

 @media only screen and (max-width : 991px){
    .artistProfileSteps .headings {
        font-size: 15px !important;
    }
    .taskersAndPrices .artists .profile_side .profile_img{
        height: auto !important;
    }
    .taskersAndPrices .artist_filters{
        max-width: 100% !important;
    }
    .taskersAndPrices .artists .profile_side .viewProfile_reviews,.skill_des,
    .taskersAndPrices .artists .profile_side .profile_description {
        text-align: left !important;
        font-size: 10px !important;
    }
    .taskersAndPrices .artists .review_side .ratings_and_price .ratings .review_percentage {
        font-size: 10px !important;
    }
    .taskersAndPrices .artists .review_side .ratings_and_price .price_sec .price{
        font-size: 15px !important;
    }
    .taskersAndPrices .artists .review_side .ratings_and_price .ratings .artist_name{
        font-size: 20px !important;
    }
    .taskersAndPrices .artists .review_side .ratings_and_price .price_sec .great_value {
    font-size: 10px !important;
    }
    .taskersAndPrices .artists .artistProfile{
        align-items: center !important;
    }
    .taskersAndPrices .react-stars span {
        font-size: 20px !important;
    }
    .taskersAndPrices .radioLabel-container {
        font-size: 15px !important;
    }
    .taskersAndPrices .read_more {
        font-size: 10px !important;
    }
 }