.checkboxMain {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 20px;
}

input[type="checkbox"] {
    visibility: hidden;
}

.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #523106;
    border-radius: 5px;
}

.checkboxMain input:checked ~ .geekmark {
    background-color: #523106;
}

.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxMain input:checked ~ .geekmark:after {
    display: block;
}

.checkboxMain .geekmark:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
