.gradientColor {
    background: linear-gradient(to bottom, #fef9ed 0%, #fff 100%) !important;
}
.getMoneyimg {
    height: 30rem;
    width: 100%;
}

.areaLabel {
    width: 100%;
    margin: 10px 0;
    color: #523106;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 14px;
}

.areaSelect {
    width: 80%;
    height: 4rem;
    border-radius: 2rem;
    padding: 0 20px;
    color: #523106;
    outline: none;
    border: 0.5px solid #c6c6c6;
}
.getStarted {
    width: 80%;
    border-radius: 2rem;
    height: 4rem;
    border: 0.5px solid #c6c6c6;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
    background: #fed12f;
}
.alreadyAccountDiv {
    text-align: center;
    width: 70%;
    font-size: 14px;
}
.desArtist {
    justify-content: space-between !important;
    margin-bottom: 70px;
}
.artistImg {
    width: 100%;
    height: 486.3px;
}
.desArtisth2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #523106;
    margin-bottom: 30px;
}
.desArtistP {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    color: #9599b2;
}
.leftFlexible {
    width: 95% !important;
    background-color: #f8f8f8;
    margin-right: 0 !important;
    padding: 2rem 0;
    border-radius: 106px 0 0 106px;
}
.getStartCard {
    position: relative;
    background: #f8f8f8;
    border-radius: 1.8rem;
    padding: 7rem 3rem 4rem 3rem;
    width: 300px;
    height: 300px;
}
.getStartCardImg {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: -40px;
}
.questions {
    padding: 30px 0px;
    border-bottom: 0.5px solid #9599b1;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #523106;
}
.questions:hover {
    background-color: #f8f8f8;
}
.rightFlexible {
    width: 95% !important;
    background-color: #f8f8f8;
    margin-left: 0 !important;
    padding: 7rem 0;
    border-radius: 0 100px 100px 0;
}
.rightFlexibleRow {
    /* margin-top: 3rem; */
    justify-content: space-evenly;
}

.rightFlexibleTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightFlexibleP {
    text-align: justify;
    font-size: 16px;
    margin: 3rem 1rem;
    color: #9599b1;
}
/* model css */
.modal-header {
    display: block !important;
    border: none !important;
}
.modal-content {
    border: 0.5px solid yellow !important;
    border-radius: 25px !important;
    padding-bottom: 3rem !important;
}
.modalHeading {
    font-size: 20px;
    color: #523106;
    font-weight: bold;
    margin-bottom: 40px 0;
}
.modalDescription {
    font-size: 16px;
    color: #523106;
    margin: 15px 0;
}

@media (max-width: 767px) {
    .gradientColorRow {
        flex-direction: column-reverse !important;
    }
    .gradientColorForm {
        padding: 0 !important;
    }
    .areaSelect {
        width: 100%;
    }
    .getStarted {
        width: 100%;
    }
    .alreadyAccountDiv {
        width: 100%;
    }
    .desArtist {
        flex-direction: column-reverse !important;
    }
    .gettingStartedCols {
        margin: 2rem 0 !important;
    }
}
